<h1 mat-dialog-title>Donate</h1>
<div mat-dialog-conten>
    <form class="column">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput placeholder="Account Number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sort Code">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Name on card">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeSuccessfully()">Donate</button>
</div>
