.content
  display flex
  flex-flow column nowrap
  justify-content space-around
  align-items center
  background-size 100%
  background-color #031142
  background-image url("https://wallpaperplay.com/walls/full/a/6/3/26962.jpg")
  background-repeat no-repeat
  height 100vh
