.background
  background-color #fff
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center

.content
  display flex
  flex-flow column nowrap
  justify-content flux-start
  align-items center
  background-color #d9d9d9
  min-height calc(100vh - 64px)
  width 80%

.title
  display flex
  flex-flow column nowrap
  justify-content space-between
  align-items center

img
  height 303px
  padding-bottom 32px
  padding-top 16px

.hijacked
  width 370px !important
  height 106px !important

mat-card
  margin 64px 0 64px 0
  div
    display flex
    flex-flow row nowrap
    justify-content space-between
    align-items center
mat-slider
  width 100%

td.table_name
  width 30%
td.table_slider
  width 60%
td.table_amount
  text-align center
  width 10%

table, tr
  width 100%

button
  background-color #45F274 !important
  font-size 24px

.donation
  display flex
  flex-flow row nowrap
  justify-content space-between
  align-items center

.row
  width 100%
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  padding-top 64px
  padding-bottom 64px
  background-color #eee

.contribution, p
  width 80%

input
  font-size 26px

h1
  padding-top 0
  margin-top 0

.mat-slider-thumb
  background-color #45F274 !important

.aLittleBigger
  font-size 24px

tr
  height 96px
