<div class="content">
    <div class="nav">
        <div class="row2">
            <div class="column">
                <img src="assets/logos/followMyMoney.png" width="300px" height="300px">
            </div>

            <div class="column">
                <div class="box" (click)="goTo('/search')">
                    <span>Make a</span>
                    <span>Donation</span>
                </div>
                <div class="box" (click)="goTo('/donations')">
                    <span>View your donations</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" fxLayoutGap="8px">
        <span>FAQ</span>
        <span>·</span>
        <span>Contact Us</span>
        <span>·</span>
        <span>About Us</span>
        <span>·</span>
        <span>Cookie Policy</span>
    </div>
</div>
