mat-toolbar
  background-color #eee

.content
  display flex
  flex-flow column nowrap
  justify-content space-between
  align-items center
  background-color #d9d9d9
  min-height calc(100vh - 64px)
  .box
    margin 16px
    cursor pointer
    border-radius 16px
    background-color #FFFFFF
    width 360px
    height 240px
    -webkit-box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.75)
    -moz-box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.75)
    box-shadow 0 0 15px 0 rgba(0, 0, 0, 0.75)
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
    span
      text-align center
      font-size 32px
      color #031142
      -webkit-transition font-size 0.5s
      -moz-transition font-size 0.5s
      -ms-transition font-size 0.5s
      -o-transition font-size 0.5s
      transition font-size 0.5s

.column
  display flex
  flex-flow column wrap
  justify-content space-around
  align-items center

.row
  width 100%
  display flex
  flex-flow row wrap
  justify-content center
  align-items center
  padding-top 64px
  padding-bottom 64px
  background-color #eee

.row2
  display flex
  flex-flow row nowrap

.login
  display flex
  flex-flow row nowrap
  align-items center
  cursor pointer
  color #031142
  position absolute
  right 16px
  top 16px

.nav
  background-color #d9d9d9
  padding 64px 128px 64px 128px
  border-radius 8px
img
  padding-right 64px
